/***
 *        /$$$$$           /$$ /$$ /$$                                     /$$             /$$      /$$                   /$$     /$$        /$$$$$$ 
 *       |__  $$          |__/| $$| $$                                    | $$            | $$$    /$$$                 /$$$$   /$$$$       /$$$_  $$
 *          | $$  /$$$$$$  /$$| $$| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$ | $$   /$$      | $$$$  /$$$$  /$$$$$$       |_  $$  |_  $$      | $$$$\ $$
 *          | $$ |____  $$| $$| $$| $$__  $$ /$$__  $$ /$$__  $$ |____  $$| $$  /$$/      | $$ $$/$$ $$ /$$__  $$        | $$    | $$      | $$ $$ $$
 *     /$$  | $$  /$$$$$$$| $$| $$| $$  \ $$| $$  \__/| $$$$$$$$  /$$$$$$$| $$$$$$/       | $$  $$$| $$| $$$$$$$$        | $$    | $$      | $$\ $$$$
 *    | $$  | $$ /$$__  $$| $$| $$| $$  | $$| $$      | $$_____/ /$$__  $$| $$_  $$       | $$\  $ | $$| $$_____/        | $$    | $$      | $$ \ $$$
 *    |  $$$$$$/|  $$$$$$$| $$| $$| $$$$$$$/| $$      |  $$$$$$$|  $$$$$$$| $$ \  $$      | $$ \/  | $$|  $$$$$$$       /$$$$$$ /$$$$$$ /$$|  $$$$$$/
 *     \______/  \_______/|__/|__/|_______/ |__/       \_______/ \_______/|__/  \__/      |__/     |__/ \_______/      |______/|______/|__/ \______/ 
 *                                                                                                                                                   
 *    UI Design by Sem Voigtländer                                                                                                                                               
 *                                                                                                                                                   
 */

/* Global */
* {
	font-family: monospace, Arial, sans-serif;
	font-size: 36px;
}

 /* View */
 body, html {
 	background: #000000;
 	margin: 0;
 	padding: 0;
 	font-size: 16px;
 	width: 100%;
 	height: 100%;
 	color: white;
 }


body {
	width: 100%;
	height: 100%;
}

header {
	padding-top: 25px;
	text-align: center;
	font-size: 42px;
	font-weight: bold;
}

main {
	width: 100%;
	text-align: center;
	padding-top: 25%;
}

.go {
	padding-top: 15px;
	padding-bottom: 15px;
	min-width: 50px;
	max-width: 90%;
	background: rgba(252, 252, 252, 0.7);
}

.go, .go * {
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 15px !important;
	border-radius: 7px;
	color: purple;
	display: inline-block;
	box-decoration-break: slice;
}

footer {
	padding-top: 25%;
	text-align: center;
}
